<!DOCTYPE html>
<html　lang="ja">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="加藤純一の配信情報をチェックできます。">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="/stylesheets/index.css">
  <title>加藤純一ライブ情報</title>
</head>

<body>
  <header>
    <nav class="navbar navbar-expand-sm bg-info navbar-dark">
      <a class="navbar-brand" href="/">加藤純一ライブ情報</a>
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="/about">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/news">News</a>
        </li>
        <!-- 
          <li class="nav-item">
            <a class="nav-link" href="#">通知設定</a>
          </li>
        -->
      </ul>
    </nav>
  </header>

  <main>
    <!-- live status -->
    <div class="py-5 text-center container">
      <% if (isLive == true) { %>
      <p class="live-status">加藤純一さんは現在配信中です。</p>
      <% } else { %>
      <p class="live-status">加藤純一さんは現在配信していないようです。</p>
      <% } %>
    </div>

    <!-- video windows -->
    <div class="album py-5 bg-light">
      <div class="container">
        <p class="intro-video">こちらもご覧下さい。</p>
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
          <% videoes.forEach(video => { %>
          <div class="col py-1">
            <a href=<%- video.url %> target="_blank">
              <div class="card shadow-sm">
                <img src=<%- video.thumbnail %> class="bd-placeholder-img card-img-top" width="100%">
                <div class="card-body <%- video.platform %> desc">
                  <p class="card-text title"><%- video.title %></p>
                  <p class="card-text"><%- video.publishTime %></p>
                </div>
              </div>
            </a>
          </div>
          <% }) %>
        </div>
      </div>
    </div>
  </main>

  <footer class="text-muted py-5">
    <div class="container">
      <p>Copyright (c) 2021 Tomcaaaaat</p>
    </div>
  </footer>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous">
  </script>
</body>

</html>